.animation-container {
  position: relative;
  padding: 1rem;
  padding-left: 0;
  width: 100%;
  height: 500px;
}

.screen {
  position: absolute;
  right: 0;
  width: 450px;
  height: 250px;
  border-radius: 1rem;
  border: 10px solid var(--secondary-200);
  background-color: #4577f7;
  padding: 1rem;
  overflow: hidden;
  animation: screen-start 8s 0 forwards;
}

/* DINO - FLAPPY - BLOCK BRICK - PONG -  BOMBERMAN - https://codepen.io/sylvaingarnot/pen/jqveXe*/

.project-asteroids {
}

.player-asteroids {
  position: absolute;
  top: 30px;
  left: -20px;
  width: 10px;
  height: 10px;
  background-color: #ffd700;
  animation: asteroids-animation 6s linear infinite;
}

@keyframes asteroids-animation {
  0% {
    translate: 30px 30px; /* Posición inicial */
  }

  20% {
    translate: 50px 180px; /* Baja suavemente */
  }

  40% {
    translate: 60px 100px; /* Sube de nuevo pero sin ser brusco */
  }

  60% {
    translate: 70px 5px; /* Sube con fluidez */
  }

  80% {
    translate: 90px 190px; /* Baja hasta casi el fondo */
  }

  100% {
    translate: 30px 30px; /* Vuelve a la posición inicial */
  }
}

.player-asteroids::after {
  content: '';
  position: absolute;
  top: 0;
  left: 100px;
  width: 5px;
  height: 2px;
  background-color: #fff;
}
