.animation-container {
  position: relative;
  padding: 1rem;
  padding-left: 0;
  width: 100%;
  height: 500px;
}

.animation-container::before,
.animation-container::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 225px;
  height: 275px;
  background-color: var(--neutral-800);
  z-index: 1;
  animation: reveal-screen-left 2s 2s ease-in-out forwards;
}

.animation-container::after {
  left: 225px;
  animation: reveal-screen-right 2s 2s ease-in-out forwards;
}

@keyframes reveal-screen-right {
  0% {
    translate: 0;
  }

  100% {
    translate: 100%;
  }
}

@keyframes reveal-screen-left {
  0% {
    translate: 0;
  }

  100% {
    translate: -100%;
  }
}

.project {
  position: absolute;
  width: 450px;
  height: 250px;
  border-radius: 1rem;
  border: 10px solid var(--neutral-900);
  background-color: var(--primary-400);
  padding: 1rem;
  overflow: hidden;
  animation: project-grow 4s 8s forwards;
}

@keyframes project-grow {
  from {
    height: 250px;
  }

  to {
    height: 450px;
  }
}

.project-header {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background-color: #f7d45a;
  translate: 0 -150%;
  animation: header-intro 1s 4s forwards;
}

@keyframes header-intro {
  from {
    translate: 0 -150%;
  }

  to {
    translate: 0;
  }
}

.project-sections {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: 80px;
  margin-bottom: 10px;
}

.project-section-1,
.project-section-2 {
  height: 80px;
  flex-grow: 1;
  background-color: #45f7a1;
}

.project-section-1 {
  translate: -150%;
  animation: project-section-1-intro 1s 5s forwards;
}

@keyframes project-section-1-intro {
  from {
    translate: -150%;
  }

  to {
    translate: 0;
  }
}

.project-section-2 {
  background-color: #f7457a;
  translate: 150%;
  animation: project-section-2-intro 1s 6s forwards;
}

@keyframes project-section-2-intro {
  from {
    translate: 150%;
  }

  to {
    translate: 0;
  }
}

.project-section-3 {
  background-color: #00c4ff;
  margin-bottom: 10px;
  height: 20px;
  translate: 0 375%;
  animation: project-section-3-intro 1s 7s forwards;
}

@keyframes project-section-3-intro {
  from {
    translate: 0 375%;
  }

  to {
    translate: 0;
  }
}

.project-footer {
  background-color: #1e1e2e;
  height: 40px;
  translate: 0 250%;
  animation: project-footer-intro 1s 7s forwards, project-footer-move 4s 8s forwards;
}

@keyframes project-footer-intro {
  from {
    translate: 0 250%;
  }

  to {
    translate: 0;
  }
}

@keyframes project-footer-move {
  from {
    translate: 0;
  }

  to {
    translate: 0 480%;
  }
}

.project-section-4 {
  position: absolute;
  left: 1rem;
  background-color: lightsalmon;
  margin-bottom: 10px;
  translate: -120%;
  height: 180px;
  width: 55%;

  animation: project-section-4-intro 1s 11s forwards;
}

@keyframes project-section-4-intro {
  from {
    translate: -120%;
  }

  to {
    translate: 0;
  }
}

.project-section-5 {
  position: absolute;
  right: 1rem;
  background-color: lightpink;
  margin-bottom: 10px;
  height: 180px;
  width: 35%;
  translate: 120%;
  animation: project-section-5-intro 1s 11.5s forwards;
}

@keyframes project-section-5-intro {
  from {
    translate: 120%;
  }

  to {
    translate: 0;
  }
}
